<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-7">
      <app-foto-card>

      </app-foto-card>
    </div>
    <div class="col-5">
      <div class="d-grid gap-2 col-8 mx-auto">
        <h3 class="m-2" color="primary">Contactar</h3>

        <button class="m-2" mat-raised-button color="primary">
          Salud
          <mat-icon>local_hospital</mat-icon>
        </button>

        <button class="m-2" mat-raised-button color="primary">
          ATM
          <mat-icon>directions</mat-icon>
        </button>

        <button class="m-2" mat-raised-button color="primary">
          Bomberos
          <mat-icon>fire_truck</mat-icon>
        </button>

        <button class="m-2" mat-raised-button color="primary">
          Policia
          <mat-icon>local_police</mat-icon>
        </button>

      </div>
    </div>
</div>
