<div class="container text-center">

  <div class="row align-items-center">
    <div class="col-7">
      <app-foto-card>

      </app-foto-card>
    </div>
    <div class="col-5">
      <div class="d-grid gap-2 col-8 mx-auto">
        <h3 class="m-2">Contactar</h3>

        <a class="m-2" mat-raised-button color="primary" href="/operador/responder">
          Aceptar
          <mat-icon>done</mat-icon>
        </a>
        <a class="m-2" mat-raised-button color="warn" href="/inicio">
          Descartar
          <mat-icon>close</mat-icon>
        </a>
        <a class="m-2" mat-raised-button color="accent" href="/inicio">
          Falso Positivo
          <mat-icon>keyboard_return</mat-icon>

        </a>

      </div>
    </div>
</div>
