<div class="d-flex align-items-center justify-content-center" style="height: 500px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Posible Imagen detectada</mat-card-title>
      <mat-card-subtitle>Desea revisarla</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a class="m-2" mat-raised-button color="primary" href="/operador/revision">
        Revisar
      </a>
      <a class="m-2" mat-raised-button color="warn" href="/inicio">
        Descartar
      </a>
    </mat-card-actions>
  </mat-card>
</div>
